hanaclient-2.26.18-linux-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
/home/joadm/Documents/GitHub/Luley-Chubut-Net/hanaclient-2.26.18-linux-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
